# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# maven
target
*.iml

# Intellij
.idea

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar